
#stacks_in_2 {
	background-color: rgba(254, 229, 203, 1.00);
	border: solid rgba(254, 229, 203, 1.00);
	border-width:  10px;
}

#stacks_in_4 {
	background-color: rgba(254, 229, 203, 1.00);
	border: solid rgba(254, 229, 203, 1.00);
	border-width:  10px;
}
